.account-wrappar
  .account-header
    = render "items/main-header"
    - breadcrumb :account, @user
  .breadcrumb
    = breadcrumbs pretext: "", separator: " &rsaquo; ",class: "breadcrumb__text"

  .account-content
    .account-sideber
      = render "users/side-bar"
    .account-main
      .account-main-content
        %h2.account-main-content_head
          本人情報の登録
        = form_for @users, url: user_path(@user), method: :patch do |f|
          .account-main-content_box_input
            = f.fields_for :profile do |profile_form|
              .account-form-group
                %p.account-form-group_text
                  お客さまの本人情報を登録ください。
                  %br
                  登録されたお名前、生年月日を変更する場合は、本人確認書類の提出が必要になります。
                %p.account-form-group_text_help
                  =link_to 'https://www.mercari.com/jp/help_center/article/495/', class: "account-help_text" do
                    本人確認書類のアップロードについて 
                    -# .fa.fa-chevron-right
              .account-form-group
                %P.account-form-group_label
                  お名前
                %P.account-form-group_label_name
                  = @user.last_name + @user.first_name       
              .account-form-group
                %P.account-form-group_label
                  お名前カナ
                %P.account-form-group_label_name
                  = @user.kata_last_name + @user.kata_first_name
              .account-form-group
                %P.account-form-group_label
                  生年月日
                %P.account-form-group_label_name
                  = @user.birth_year + "/" + @user.birth_month + "/" + @user.birth_day

              .account-form-group1
                %P.account-form-group_label
                  郵便番号
                %span.optional-tag
                  任意
                = f.text_field :postal_code, class: "account-form-group_input", placeholder: "例)123-4567"

              .account-form-group1
                %P.account-form-group_label
                  都道府県
                %span.optional-tag
                  任意
                = f.select :shipping_region_id, ShippingRegion.all.collect {|s| [s.name_i18n, s.id]}, {prompt: "---"}, {class: 'item-contents__main__form__detail__form-box__form-group3__select-wrap__select-box'}
              .account-form-group1
                %P.account-form-group_label
                  市区町村
                %span.optional-tag
                  任意
                = f.text_field :town, class: "account-form-group_input", placeholder: "例)横浜市緑区"
              
              -# .account-form-group1
              -#   %P.account-form-group_label
              -#     番地
              -#   %span.required-tag
              -#     任意
              -#   = f.text_field :nickname, class: "account-form-group_input", placeholder: "例)青山1-1-1"
              
              -# .account-form-group1
              -#   %P.account-form-group_label
              -#     建物名
              -#   %span.required-tag
              -#     任意
              -#   = f.text_field :nickname, class: "account-form-group_input", placeholder: "例)柳ビル103"


              .account-main-content_box_send
                
                .foom__a.actions
                  = f.submit "登録する", class: "account-submit"

                .account-help
                  =link_to 'https://www.mercari.com/jp/help_center/article/423/', class: "account-help_text" do
                    本人情報の登録について

  .acoount-footer
    -# = render "items/footer_item"
    = render "items/main-footer"