.wrapper
  = render '/items/main-header'
  - breadcrumb :itemlist, @user
  .breadcrumb
    = breadcrumbs pretext: "", separator: " &rsaquo; ",class: "breadcrumb__text"
  .main-container-itemlist
    .main-content
      %section.main-content-section
        %h2.main-content-section__head
          出品した商品
        %ul.tabs
          %li.tabs--list.left.active
            出品中
          %li.tabs--list.middle
            取引中
          %li.tabs--list.right
            売却済み
        .tabs-content
          %ul.tabs-contents
            - @saleitem.each do |saleitem|
              %a{href: "/items/#{saleitem.id}/editprev","data-turbolinks" => "false",class:"itemshow-link"}
                %li.tabs-contents__list
                  %figure.tabs-contents__list__figure
                    = image_tag (saleitem.images.first.url.url),size: "40x40"
                  .tabs-contents__list__text
                    .tabs-contents__list__text__upper
                      = saleitem.name
                    .tabs-contents__list__text__middle
                      %span.tabs-contents__list__text__middle--count
                        %i.far.fa-heart
                        %span.count
                          0
                        %span
                      %span.tabs-contents__list__text__middle--count
                        %i.far.fa-comment-alt
                        %span.count
                          0
                        %span
                      .tabs-contents__list__text__middle--status
                        出品中
                  %i.fas.fa-chevron-right
    = render 'side-bar'
  = render 'items/item_banner'
  = render 'items/main-footer'