.sign-up-header
  = render "items/header_item"
  %main.sign-up
    %section.sign-up-content
      %h2.sign-up-content_header 新規会員登録
      .sign-up-content-main
        .sign-up-content-main-content
          .form_actions
            %i.far.fa-envelope.fa-2x
            = link_to "メールアドレスで登録する", users_registration_path, class: "sign-up-submit"
          .form_actions-facebook
            %i.fab.fa-facebook-square.fa-2x
            = link_to "Facebookで登録する", "", class: "form_actions-facebook__link"
          .form_actions-google
            %i.fab.fa-google.fa-2x  
            = link_to "Googleで登録する", "", class: "form_actions-google__link"

  .registration-foot
    = render "items/footer_item"