.wrapper
  = render '/items/main-header'
  - breadcrumb :user, @user
  .breadcrumb
    = breadcrumbs pretext: "", separator: " &rsaquo; ",class: "breadcrumb__text"
  .main-container
    .main-content
      %section.main-content__mypage-user
        %a.main-content__mypage-user__field
          %figure.main-content__mypage-user__field__figure
            %img.main-content__mypage-user__field__figure__image{alt: "", height: "60", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60"}/
          %h2.main-content__mypage-user__field__name 
            = current_user.nickname
          .main-content__mypage-user__field__number.clearfix
            .main-content__mypage-user__field__number__evaluation
              評価
              %span.main-content__mypage-user__field____evaluation__count 36
            .main-content__mypage-user__field__number__sells
              出品数
              %span.main-content__mypage-user__field__sells__count 33
      .tabs__upper
        %input#tab-notice{checked: "checked", name: "tab-radio", type: "radio"}/
        %label.tab-label__notice{for: "tab-notice"} お知らせ
        %input#tab-todo{name: "tab-radio", type: "radio"}/
        %label.tab-label__todo{for: "tab-todo"} やることリスト
        .tab-content.tab-notice-content
          .box__upper
          %ul.tab-notice-contents
            %li.tab-notice-contents__list
              %figure.tab-notice-contents__list__figure
                %img.tab-notice-contents__list__figure__image{alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
              .tab-notice-contents__list__text
                .tab-notice-contents__list__text__upper
                  text
                .tab-notice-contents__list__text__middle
                  %span.tab-notice-contents__list__text__middle--count
                    %i.far.fa-clock
                    %span
                  .tab-notice-contents__list__text__middle--status
                    2日前
              %i.fas.fa-chevron-right
          %li.main-content-tabs__line__list__back
            %a.main-content-tabs__line__list__back-text{href: "/jp/mypage/notification/"} 一覧を見る
        .tab-content.tab-todo-content
          %ul#mypage-tab-todo.mypage-item-list.tab-pane.active
            %li.mypage-item-not-found.bold 現在、やることリストはありません
      %section.main-content-purchace
        %h2.main-content-purchace__head
          購入した商品
        .tabs__bottom
          %input#tab-transnow{checked: "checked", name: "tab-tv", type: "radio"}/
          %label.tab-label__transnow{for: "tab-transnow"} 取引中
          %input#tab-transold{name: "tab-tv", type: "radio"}/
          %label.tab-label__transold{for: "tab-transold"} 過去の取引
          .tab-content.tab-transnow-content
            %ul#mypage-tab-todo.mypage-item-list.tab-pane.active
              %li.mypage-item-not-found.bold 現在、やることリストはありません
            -# %ul.tabs-contents
            -#   %li.tabs-contents__list
            -#     %figure.tabs-contents__list__figure
            -#       %img.main-content-tabs__line__list__todo__field__figure__image{alt: "", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/
            -#     .tabs-contents__list__text
            -#       .tabs-contents__list__text__upper
            -#         text
            -#       .tabs-contents__list__text__middle
            -#         %span.tabs-contents__list__text__middle--count
            -#           %i.far.fa-heart
            -#           %span.count
            -#             0
            -#           %span
            -#         %span.tabs-contents__list__text__middle--count
            -#           %i.far.fa-comment-alt
            -#           %span.count
            -#             0
            -#           %span
            -#         .tabs-contents__list__text__middle--status
            -#           出品中
            -#     %i.fas.fa-chevron-right
            -# %li.main-content-tabs__line__list__back
            -#   %a.main-content-tabs__line__list__back-text{href: "/jp/mypage/notification/"} 一覧を見る
          .tab-content.tab-transold-content
            .box__upper
            %ul.tabs-contents
            - @transactionItem_buy.each do |transactionItem_buy|
              %a{href: "/items/#{transactionItem_buy.id}/","data-turbolinks" => "false",class:"itemshow-link"}
                %li.tabs-contents__list
                  %figure.tabs-contents__list__figure
                    = image_tag (transactionItem_buy.images.first.url.url),size: "40X40"
                  .tabs-contents__list__text
                    .tabs-contents__list__text__upper
                      = transactionItem_buy.name
                    .tabs-contents__list__text__middle
                      %span.tabs-contents__list__text__middle--count
                        %i.far.fa-heart
                        %span.count
                          0
                        %span
                      %span.tabs-contents__list__text__middle--count
                        %i.far.fa-comment-alt
                        %span.count
                          0
                        %span
                      .tabs-contents__list__text__middle--status.finish
                        取引完了
                  %i.fas.fa-chevron-right
            %li.main-content-tabs__line__list__back
              %a.main-content-tabs__line__list__back-text{href: "/jp/mypage/notification/"} 一覧を見る
            -# %ul#mypage-tab-todo.mypage-item-list.tab-pane.active
            -#   %li.mypage-item-not-found.bold 現在、やることリストはありません
    = render 'side-bar'
  = render 'items/item_banner'
  = render 'items/main-footer'
