.top-header
  .top-header__container
    .top-header__container__search
      %h1
        =link_to root_path, class: "top-header__container__search__image" do
          = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2334484240", height: "36", width: "134") 
      = form_tag(search_items_path, method: 'get',class:'top-header__container__search__form') do
        = text_field_tag :search, '', class: 'top-header__container__search__form__input'
        %input{type: "submit", value: "    ",class: 'top-header__container__search__form__input__btn'}
          %i.fa.fa-search        
    .top-header__container__navi
      .top-header__container__navi__left
        .top-header__container__navi__left__l
          %ul.top-header__container__navi__left__l__category
            %li.top-header__container__navi__left__l__category__list
              %h2.top-header__container__navi__left__l__category__list__title
                =link_to "", class: "top-header__container__navi__left__l__category__list__title__link" do
                  %i.fa.fa-list
                  %span カテゴリーから探す
              %ul.top-header__container__navi__left__l__category__list__search
                - @parents.each do |parent|
                  %li.top-header__container__navi__left__l__category__list__search__li
                    %h3.top-header__container__navi__left__l__category__list__search__li__title
                      =link_to category_path(parent.id), class:"top-header__container__navi__left__l__category__list__search__li__title__link" do
                        = parent.name
                      %ul.top-header__container__navi__left__l__category__list__search__li__detail
                        - parent.children.each do |child|
                          %li.top-header__container__navi__left__l__category__list__search__li__detail__list
                            =link_to category_path(child.id), class:"top-header__container__navi__left__l__category__list__search__li__detail__list__link" do
                              = child.name
                            %ul.top-header__container__navi__left__l__category__list__search__li__detail__list__de
                              - child.children.each do |grandchild|
                                %li.top-header__container__navi__left__l__category__list__search__li__detail__list__de__content
                                  = link_to category_path(grandchild.id), class: "top-header__container__navi__left__l__category__list__search__li__detail__list__de__content__text" do
                                    =grandchild.name
            %li.top-header__container__navi__left__l__category__bland
              %h2.top-header__container__navi__left__l__category__bland__title
                =link_to "", class: "top-header__container__navi__left__l__category__bland__title__link" do
                  %i.fa.fa-tag
                  %span ブランドから探す
              %ul.top-header__container__navi__left__l__category__bland__search
                %li.top-header__container__navi__left__l__category__bland__search__li
                  %h3.top-header__container__navi__left__l__category__bland__search__li__title
                    =link_to '/brands/23', class:"top-header__container__navi__left__l__category__bland__search__li__title__link" do
                      シャネル
                %li.top-header__container__navi__left__l__category__bland__search__li
                  %h3.top-header__container__navi__left__l__category__bland__search__li__title
                    =link_to '/brands/41', class:"top-header__container__navi__left__l__category__bland__search__li__title__link" do
                      ナイキ
                %li.top-header__container__navi__left__l__category__bland__search__li
                  %h3.top-header__container__navi__left__l__category__bland__search__li__title
                    =link_to '/brands/82', class:"top-header__container__navi__left__l__category__bland__search__li__title__link" do
                      ルイ ヴィトン
                %li.top-header__container__navi__left__l__category__bland__search__li
                  %h3.top-header__container__navi__left__l__category__bland__search__li__title
                    =link_to '/brands/24', class:"top-header__container__navi__left__l__category__bland__search__li__title__link" do
                      シュプリーム
                %li.top-header__container__navi__left__l__category__bland__search__li
                  %h3.top-header__container__navi__left__l__category__bland__search__li__title
                    =link_to '/brands/1', class:"top-header__container__navi__left__l__category__bland__search__li__title__link" do
                      アディダス
                %li.top-header__container__navi__left__l__category__bland__search__li
                  %h3.top-header__container__navi__left__l__category__bland__search__li__title
                    =link_to "", class:"top-header__container__navi__left__l__category__bland__search__li__title__link" do
                      ブランド一覧
      .top-header__container__navi__right
        - if user_signed_in?
          %ul.top-header__container__navi__right__rog
            %li.top-header__container__navi__right__rog__list
              = link_to user_path(current_user.id), class: "top-header__container__navi__right__rog__list__page" do
                = image_tag("//static.mercdn.net/images/member_photo_noimage_thumb.png", height: "20", width: "20") 
                マイページ
            %li.top-header__container__navi__right__rog__list
              = link_to "", class: "top-header__container__navi__right__rog__list__page" do
                %i.fas.fa-check
                やることリスト
            %li.top-header__container__navi__right__rog__list
              = link_to "", class: "top-header__container__navi__right__rog__list__page" do
                %i.far.fa-bell
                お知らせ
            %li.top-header__container__navi__right__rog__list
              = link_to "", class: "top-header__container__navi__right__rog__list__page" do
                %i.far.fa-heart
                いいね! 一覧
            %li.top-header__container__navi__right__rog__list
              = link_to destroy_user_session_path, method: :delete, class: "top-header__container__navi__right__rog__list__page" do
                ログアウト
        - else
          %ul.top-header__container__navi__right__rog
            %li.top-header__container__navi__right__rog__list
              = link_to new_user_session_path, class: "top-header__container__navi__right__rog__list__in" do
                ログイン
            %li.top-header__container__navi__right__rog__list
              = link_to new_user_path, class: "top-header__container__navi__right__rog__list__sign" do
                新規会員登録
