.single-main
  = render 'items/header_item'
  .buy-item
    .buy-item__head
      購入内容の確認
    .buy-item__main
      .buy-item__main__contents
        .buy-item__main__contents__image
          = image_tag(@item.images.first.url.url, height: "250", width: "180")
        .buy-item__main__contents__name
          =@item.name
        .buy-item__main__contents__price
          ="¥ #{@item.price}"
          .buy-item__main__contents__price__text
            送料込み
        %ul.buy-item__main__contents__point
          %li.buy-item__main__contents__point__box
            .buy-item__main__contents__point__box__name
              ポイントはありません
        %ul.buy-item__main__contents__total
          %li.buy-item__main__contents__total__table
            .buy-item__main__contents__total__table__text
              支払い金額
            .buy-item__main__contents__total__table__price
              ="¥ #{@item.price}"
        %ul.buy-item__main__contents__btn
          %li.buy-item__main__contents__btn__box
            .buy-item__main__contents__btn__box__name
              =link_to"購入する",pay_card_path(@item), class: "buy-item__main__contents__btn__box__name__link"
    .buy-user-info
      .buy-user-info__contents
        配送先
        .buy-user-info__contents__adress
        = "〒" + @user.postal_code
        %br
        = @user.shipping_region.name_i18n
        = @user.town
        %br
        = @user.last_name + @user.first_name
        = link_to "#", class: 'buy-user-info__contents__link' do
          %span
            変更する
          %i.fa.fa-chevron-right
    .buy-method
      .buy-method__contents
        支払い方法
        .buy-method__contents__adress
          '/'
        = link_to "#", class: 'buy-method__contents__link' do
          %span
            変更する
          %i.fa.fa-chevron-right
  = render 'items/footer_item'