= render 'items/header_item'
.item-contents
  .item-contents__main
    .item-contents__main__header
      商品の情報を入力
    = form_for @item do |f|
      .item-contents__main__form
        .item-contents__main__form__upload-box
          .item-contents__main__form__upload-box__head
            出品画像
            %span.item-contents__main__form__upload-box__head__action
              必須
          .item-contents__main__form__upload-box__description
            最大10枚までアップロードできます
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image.cleafix
                %label
                  .item-contents__main__form__upload-box__image__box
                    .input-area
                    .item-contents__main__form__upload-box__image__box__text
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    #file-preview                  
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image__drop-file', type: "file", id: 'file1'
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image2.cleafix
                - if Image.where(item_id: @item.id)[0].present?
                  .item-contents__main__form__upload-box__image2__view
                    .item-contents__main__form__upload-box__image2__view__file
                      %img.item-contents__main__form__upload-box__image2__view__file__preview{src: Image.where(item_id: @item.id)[0].url.url}
                      .item-contents__main__form__upload-box__image2__view__btn
                        %a.item-contents__main__form__upload-box__image2__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image2__view__btn__right 削除
                %label
                  .item-contents__main__form__upload-box__image2__box
                    .input-area2
                    .item-contents__main__form__upload-box__image2__box__text
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    #file-preview2                 
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image2__drop-file', type: "file" , id: 'file2'
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image3.cleafix
                - if Image.where(item_id: @item.id)[1].present?
                  .item-contents__main__form__upload-box__image2__view
                    .item-contents__main__form__upload-box__image2__view__file
                      %img.item-contents__main__form__upload-box__image2__view__file__preview{src: Image.where(item_id: @item.id)[0].url.url}
                      .item-contents__main__form__upload-box__image2__view__btn
                        %a.item-contents__main__form__upload-box__image2__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image2__view__btn__right 削除
                  .item-contents__main__form__upload-box__image3__view
                    .item-contents__main__form__upload-box__image3__view__file
                      %img.item-contents__main__form__upload-box__image3__view__file__preview{src: Image.where(item_id: @item.id)[1].url.url}
                      .item-contents__main__form__upload-box__image3__view__btn
                        %a.item-contents__main__form__upload-box__image3__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image3__view__btn__right 削除
                %label
                  .item-contents__main__form__upload-box__image3__box
                    .input-area3
                    .item-contents__main__form__upload-box__image3__box__text
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    #file-preview3                 
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image3__drop-file', type: "file" , id: 'file3'
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image4.cleafix
                - if Image.where(item_id: @item.id)[2].present?
                  .item-contents__main__form__upload-box__image2__view
                    .item-contents__main__form__upload-box__image2__view__file
                      %img.item-contents__main__form__upload-box__image2__view__file__preview{src: Image.where(item_id: @item.id)[0].url.url}
                      .item-contents__main__form__upload-box__image2__view__btn
                        %a.item-contents__main__form__upload-box__image2__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image2__view__btn__right 削除
                  .item-contents__main__form__upload-box__image3__view
                    .item-contents__main__form__upload-box__image3__view__file
                      %img.item-contents__main__form__upload-box__image3__view__file__preview{src: Image.where(item_id: @item.id)[1].url.url}
                      .item-contents__main__form__upload-box__image3__view__btn
                        %a.item-contents__main__form__upload-box__image3__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image3__view__btn__right 削除
                  .item-contents__main__form__upload-box__image4__view
                    .item-contents__main__form__upload-box__image4__view__file
                      %img.item-contents__main__form__upload-box__image4__view__file__preview{src: Image.where(item_id: @item.id)[2].url.url}
                      .item-contents__main__form__upload-box__image4__view__btn
                        %a.item-contents__main__form__upload-box__image4__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image4__view__btn__right 削除
                %label
                  .item-contents__main__form__upload-box__image4__box
                    .input-area4
                    .item-contents__main__form__upload-box__image4__box__text
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    #file-preview4                 
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image4__drop-file', type: "file", id: 'file4'
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image5.cleafix
                - if Image.where(item_id: @item.id)[3].present?
                  .item-contents__main__form__upload-box__image2__view
                    .item-contents__main__form__upload-box__image2__view__file
                      %img.item-contents__main__form__upload-box__image2__view__file__preview{src: Image.where(item_id: @item.id)[0].url.url}
                      .item-contents__main__form__upload-box__image2__view__btn
                        %a.item-contents__main__form__upload-box__image2__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image2__view__btn__right 削除
                  .item-contents__main__form__upload-box__image3__view
                    .item-contents__main__form__upload-box__image3__view__file
                      %img.item-contents__main__form__upload-box__image3__view__file__preview{src: Image.where(item_id: @item.id)[1].url.url}
                      .item-contents__main__form__upload-box__image3__view__btn
                        %a.item-contents__main__form__upload-box__image3__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image3__view__btn__right 削除
                  .item-contents__main__form__upload-box__image4__view
                    .item-contents__main__form__upload-box__image4__view__file
                      %img.item-contents__main__form__upload-box__image4__view__file__preview{src: Image.where(item_id: @item.id)[2].url.url}
                      .item-contents__main__form__upload-box__image4__view__btn
                        %a.item-contents__main__form__upload-box__image4__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image4__view__btn__right 削除
                  .item-contents__main__form__upload-box__image5__view
                    .item-contents__main__form__upload-box__image5__view__file
                      %img.item-contents__main__form__upload-box__image5__view__file__preview{src: Image.where(item_id: @item.id)[3].url.url}
                      .item-contents__main__form__upload-box__image5__view__btn
                        %a.item-contents__main__form__upload-box__image5__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image5__view__btn__right 削除
                %label
                  .item-contents__main__form__upload-box__image5__box
                    .input-area5
                    .item-contents__main__form__upload-box__image5__box__text
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    #file-preview5                 
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image5__drop-file', type: "file", id: 'file5'
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image6.cleafix
                - if Image.where(item_id: @item.id)[4].present?
                  .item-contents__main__form__upload-box__image2__view
                    .item-contents__main__form__upload-box__image2__view__file
                      %img.item-contents__main__form__upload-box__image2__view__file__preview{src: Image.where(item_id: @item.id)[0].url.url}
                      .item-contents__main__form__upload-box__image2__view__btn
                        %a.item-contents__main__form__upload-box__image2__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image2__view__btn__right 削除
                  .item-contents__main__form__upload-box__image3__view
                    .item-contents__main__form__upload-box__image3__view__file
                      %img.item-contents__main__form__upload-box__image3__view__file__preview{src: Image.where(item_id: @item.id)[1].url.url}
                      .item-contents__main__form__upload-box__image3__view__btn
                        %a.item-contents__main__form__upload-box__image3__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image3__view__btn__right 削除
                  .item-contents__main__form__upload-box__image4__view
                    .item-contents__main__form__upload-box__image4__view__file
                      %img.item-contents__main__form__upload-box__image4__view__file__preview{src: Image.where(item_id: @item.id)[2].url.url}
                      .item-contents__main__form__upload-box__image4__view__btn
                        %a.item-contents__main__form__upload-box__image4__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image4__view__btn__right 削除
                  .item-contents__main__form__upload-box__image5__view
                    .item-contents__main__form__upload-box__image5__view__file
                      %img.item-contents__main__form__upload-box__image5__view__file__preview{src: Image.where(item_id: @item.id)[3].url.url}
                      .item-contents__main__form__upload-box__image5__view__btn
                        %a.item-contents__main__form__upload-box__image5__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image5__view__btn__right 削除
                  .item-contents__main__form__upload-box__image6__view
                    .item-contents__main__form__upload-box__image6__view__file
                      %img.item-contents__main__form__upload-box__image6__view__file__preview{src: Image.where(item_id: @item.id)[4].url.url}
                      .item-contents__main__form__upload-box__image6__view__btn
                        %a.item-contents__main__form__upload-box__image6__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image6__view__btn__right 削除
                %label
                  .item-contents__main__form__upload-box__image6__box
                    .input-area6
                    .item-contents__main__form__upload-box__image6__box__text
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    #file-preview6                 
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image6__drop-file', type: "file", id: 'file6'
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image7.cleafix
                - if Image.where(item_id: @item.id)[5].present?
                  .item-contents__main__form__upload-box__image2__view
                    .item-contents__main__form__upload-box__image2__view__file
                      %img.item-contents__main__form__upload-box__image2__view__file__preview{src: Image.where(item_id: @item.id)[0].url.url}
                      .item-contents__main__form__upload-box__image2__view__btn
                        %a.item-contents__main__form__upload-box__image2__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image2__view__btn__right 削除
                  .item-contents__main__form__upload-box__image3__view
                    .item-contents__main__form__upload-box__image3__view__file
                      %img.item-contents__main__form__upload-box__image3__view__file__preview{src: Image.where(item_id: @item.id)[1].url.url}
                      .item-contents__main__form__upload-box__image3__view__btn
                        %a.item-contents__main__form__upload-box__image3__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image3__view__btn__right 削除
                  .item-contents__main__form__upload-box__image4__view
                    .item-contents__main__form__upload-box__image4__view__file
                      %img.item-contents__main__form__upload-box__image4__view__file__preview{src: Image.where(item_id: @item.id)[2].url.url}
                      .item-contents__main__form__upload-box__image4__view__btn
                        %a.item-contents__main__form__upload-box__image4__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image4__view__btn__right 削除
                  .item-contents__main__form__upload-box__image5__view
                    .item-contents__main__form__upload-box__image5__view__file
                      %img.item-contents__main__form__upload-box__image5__view__file__preview{src: Image.where(item_id: @item.id)[3].url.url}
                      .item-contents__main__form__upload-box__image5__view__btn
                        %a.item-contents__main__form__upload-box__image5__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image5__view__btn__right 削除
                  .item-contents__main__form__upload-box__image6__view
                    .item-contents__main__form__upload-box__image6__view__file
                      %img.item-contents__main__form__upload-box__image6__view__file__preview{src: Image.where(item_id: @item.id)[4].url.url}
                      .item-contents__main__form__upload-box__image6__view__btn
                        %a.item-contents__main__form__upload-box__image6__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image6__view__btn__right 削除
                  .item-contents__main__form__upload-box__image7__view
                    .item-contents__main__form__upload-box__image7__view__file
                      %img.item-contents__main__form__upload-box__image7__view__file__preview{src: Image.where(item_id: @item.id)[5].url.url}
                      .item-contents__main__form__upload-box__image7__view__btn
                        %a.item-contents__main__form__upload-box__image7__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image7__view__btn__right 削除
                %label
                  .item-contents__main__form__upload-box__image7__box
                    .input-area7
                    .item-contents__main__form__upload-box__image7__box__text
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    #file-preview7                 
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image7__drop-file', type: "file", id: 'file7'
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image8.cleafix
                - if Image.where(item_id: @item.id)[6].present?
                  .item-contents__main__form__upload-box__image2__view
                    .item-contents__main__form__upload-box__image2__view__file
                      %img.item-contents__main__form__upload-box__image2__view__file__preview{src: Image.where(item_id: @item.id)[0].url.url}
                      .item-contents__main__form__upload-box__image2__view__btn
                        %a.item-contents__main__form__upload-box__image2__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image2__view__btn__right 削除
                  .item-contents__main__form__upload-box__image3__view
                    .item-contents__main__form__upload-box__image3__view__file
                      %img.item-contents__main__form__upload-box__image3__view__file__preview{src: Image.where(item_id: @item.id)[1].url.url}
                      .item-contents__main__form__upload-box__image3__view__btn
                        %a.item-contents__main__form__upload-box__image3__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image3__view__btn__right 削除
                  .item-contents__main__form__upload-box__image4__view
                    .item-contents__main__form__upload-box__image4__view__file
                      %img.item-contents__main__form__upload-box__image4__view__file__preview{src: Image.where(item_id: @item.id)[2].url.url}
                      .item-contents__main__form__upload-box__image4__view__btn
                        %a.item-contents__main__form__upload-box__image4__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image4__view__btn__right 削除
                  .item-contents__main__form__upload-box__image5__view
                    .item-contents__main__form__upload-box__image5__view__file
                      %img.item-contents__main__form__upload-box__image5__view__file__preview{src: Image.where(item_id: @item.id)[3].url.url}
                      .item-contents__main__form__upload-box__image5__view__btn
                        %a.item-contents__main__form__upload-box__image5__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image5__view__btn__right 削除
                  .item-contents__main__form__upload-box__image6__view
                    .item-contents__main__form__upload-box__image6__view__file
                      %img.item-contents__main__form__upload-box__image6__view__file__preview{src: Image.where(item_id: @item.id)[4].url.url}
                      .item-contents__main__form__upload-box__image6__view__btn
                        %a.item-contents__main__form__upload-box__image6__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image6__view__btn__right 削除
                  .item-contents__main__form__upload-box__image7__view
                    .item-contents__main__form__upload-box__image7__view__file
                      %img.item-contents__main__form__upload-box__image7__view__file__preview{src: Image.where(item_id: @item.id)[5].url.url}
                      .item-contents__main__form__upload-box__image7__view__btn
                        %a.item-contents__main__form__upload-box__image7__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image7__view__btn__right 削除
                  .item-contents__main__form__upload-box__image8__view
                    .item-contents__main__form__upload-box__image8__view__file
                      %img.item-contents__main__form__upload-box__image8__view__file__preview{src: Image.where(item_id: @item.id)[6].url.url}
                      .item-contents__main__form__upload-box__image8__view__btn
                        %a.item-contents__main__form__upload-box__image8__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image8__view__btn__right 削除
                %label
                  .item-contents__main__form__upload-box__image8__box
                    .input-area8
                    .item-contents__main__form__upload-box__image8__box__text
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    #file-preview8                 
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image8__drop-file', type: "file", id: 'file8'
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image9.cleafix
                - if Image.where(item_id: @item.id)[7].present?
                  .item-contents__main__form__upload-box__image2__view
                    .item-contents__main__form__upload-box__image2__view__file
                      %img.item-contents__main__form__upload-box__image2__view__file__preview{src: Image.where(item_id: @item.id)[0].url.url}
                      .item-contents__main__form__upload-box__image2__view__btn
                        %a.item-contents__main__form__upload-box__image2__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image2__view__btn__right 削除
                  .item-contents__main__form__upload-box__image3__view
                    .item-contents__main__form__upload-box__image3__view__file
                      %img.item-contents__main__form__upload-box__image3__view__file__preview{src: Image.where(item_id: @item.id)[1].url.url}
                      .item-contents__main__form__upload-box__image3__view__btn
                        %a.item-contents__main__form__upload-box__image3__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image3__view__btn__right 削除
                  .item-contents__main__form__upload-box__image4__view
                    .item-contents__main__form__upload-box__image4__view__file
                      %img.item-contents__main__form__upload-box__image4__view__file__preview{src: Image.where(item_id: @item.id)[2].url.url}
                      .item-contents__main__form__upload-box__image4__view__btn
                        %a.item-contents__main__form__upload-box__image4__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image4__view__btn__right 削除
                  .item-contents__main__form__upload-box__image5__view
                    .item-contents__main__form__upload-box__image5__view__file
                      %img.item-contents__main__form__upload-box__image5__view__file__preview{src: Image.where(item_id: @item.id)[3].url.url}
                      .item-contents__main__form__upload-box__image5__view__btn
                        %a.item-contents__main__form__upload-box__image5__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image5__view__btn__right 削除
                  .item-contents__main__form__upload-box__image6__view
                    .item-contents__main__form__upload-box__image6__view__file
                      %img.item-contents__main__form__upload-box__image6__view__file__preview{src: Image.where(item_id: @item.id)[4].url.url}
                      .item-contents__main__form__upload-box__image6__view__btn
                        %a.item-contents__main__form__upload-box__image6__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image6__view__btn__right 削除
                  .item-contents__main__form__upload-box__image7__view
                    .item-contents__main__form__upload-box__image7__view__file
                      %img.item-contents__main__form__upload-box__image7__view__file__preview{src: Image.where(item_id: @item.id)[5].url.url}
                      .item-contents__main__form__upload-box__image7__view__btn
                        %a.item-contents__main__form__upload-box__image7__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image7__view__btn__right 削除
                  .item-contents__main__form__upload-box__image8__view
                    .item-contents__main__form__upload-box__image8__view__file
                      %img.item-contents__main__form__upload-box__image8__view__file__preview{src: Image.where(item_id: @item.id)[6].url.url}
                      .item-contents__main__form__upload-box__image8__view__btn
                        %a.item-contents__main__form__upload-box__image8__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image8__view__btn__right 削除
                  .item-contents__main__form__upload-box__image9__view
                    .item-contents__main__form__upload-box__image9__view__file
                      %img.item-contents__main__form__upload-box__image9__view__file__preview{src: Image.where(item_id: @item.id)[7].url.url}
                      .item-contents__main__form__upload-box__image9__view__btn
                        %a.item-contents__main__form__upload-box__image9__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image9__view__btn__right 削除
                %label
                  .item-contents__main__form__upload-box__image9__box
                    .input-area9
                    .item-contents__main__form__upload-box__image9__box__text
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    #file-preview9                 
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image9__drop-file', type: "file", id: 'file9'
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image10.cleafix
                - if Image.where(item_id: @item.id)[8].present?
                  .item-contents__main__form__upload-box__image2__view
                    .item-contents__main__form__upload-box__image2__view__file
                      %img.item-contents__main__form__upload-box__image2__view__file__preview{src: Image.where(item_id: @item.id)[0].url.url}
                      .item-contents__main__form__upload-box__image2__view__btn
                        %a.item-contents__main__form__upload-box__image2__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image2__view__btn__right 削除
                  .item-contents__main__form__upload-box__image3__view
                    .item-contents__main__form__upload-box__image3__view__file
                      %img.item-contents__main__form__upload-box__image3__view__file__preview{src: Image.where(item_id: @item.id)[1].url.url}
                      .item-contents__main__form__upload-box__image3__view__btn
                        %a.item-contents__main__form__upload-box__image3__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image3__view__btn__right 削除
                  .item-contents__main__form__upload-box__image4__view
                    .item-contents__main__form__upload-box__image4__view__file
                      %img.item-contents__main__form__upload-box__image4__view__file__preview{src: Image.where(item_id: @item.id)[2].url.url}
                      .item-contents__main__form__upload-box__image4__view__btn
                        %a.item-contents__main__form__upload-box__image4__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image4__view__btn__right 削除
                  .item-contents__main__form__upload-box__image5__view
                    .item-contents__main__form__upload-box__image5__view__file
                      %img.item-contents__main__form__upload-box__image5__view__file__preview{src: Image.where(item_id: @item.id)[3].url.url}
                      .item-contents__main__form__upload-box__image5__view__btn
                        %a.item-contents__main__form__upload-box__image5__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image5__view__btn__right 削除
                  .item-contents__main__form__upload-box__image6__view
                    .item-contents__main__form__upload-box__image6__view__file
                      %img.item-contents__main__form__upload-box__image6__view__file__preview{src: Image.where(item_id: @item.id)[4].url.url}
                      .item-contents__main__form__upload-box__image6__view__btn
                        %a.item-contents__main__form__upload-box__image6__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image6__view__btn__right 削除
                  .item-contents__main__form__upload-box__image7__view
                    .item-contents__main__form__upload-box__image7__view__file
                      %img.item-contents__main__form__upload-box__image7__view__file__preview{src: Image.where(item_id: @item.id)[5].url.url}
                      .item-contents__main__form__upload-box__image7__view__btn
                        %a.item-contents__main__form__upload-box__image7__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image7__view__btn__right 削除
                  .item-contents__main__form__upload-box__image8__view
                    .item-contents__main__form__upload-box__image8__view__file
                      %img.item-contents__main__form__upload-box__image8__view__file__preview{src: Image.where(item_id: @item.id)[6].url.url}
                      .item-contents__main__form__upload-box__image8__view__btn
                        %a.item-contents__main__form__upload-box__image8__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image8__view__btn__right 削除
                  .item-contents__main__form__upload-box__image9__view
                    .item-contents__main__form__upload-box__image9__view__file
                      %img.item-contents__main__form__upload-box__image9__view__file__preview{src: Image.where(item_id: @item.id)[7].url.url}
                      .item-contents__main__form__upload-box__image9__view__btn
                        %a.item-contents__main__form__upload-box__image9__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image9__view__btn__right 削除
                  .item-contents__main__form__upload-box__image10__view
                    .item-contents__main__form__upload-box__image10__view__file
                      %img.item-contents__main__form__upload-box__image10__view__file__preview{src: Image.where(item_id: @item.id)[8].url.url}
                      .item-contents__main__form__upload-box__image10__view__btn
                        %a.item-contents__main__form__upload-box__image10__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image10__view__btn__right 削除
                %label
                  .item-contents__main__form__upload-box__image10__box
                    .input-area10
                    .item-contents__main__form__upload-box__image10__box__text
                      ドラッグアンドドロップ
                      またはクリックしてファイルをアップロード
                    #file-preview10                 
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image10__drop-file', type: "file", id: 'file10'
            = f.fields_for :images do |i|
              .item-contents__main__form__upload-box__image11.cleafix
                - if Image.where(item_id: @item.id)[9].present?
                  .item-contents__main__form__upload-box__image2__view
                    .item-contents__main__form__upload-box__image2__view__file
                      %img.item-contents__main__form__upload-box__image2__view__file__preview{src: Image.where(item_id: @item.id)[0].url.url}
                      .item-contents__main__form__upload-box__image2__view__btn
                        %a.item-contents__main__form__upload-box__image2__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image2__view__btn__right 削除
                  .item-contents__main__form__upload-box__image3__view
                    .item-contents__main__form__upload-box__image3__view__file
                      %img.item-contents__main__form__upload-box__image3__view__file__preview{src: Image.where(item_id: @item.id)[1].url.url}
                      .item-contents__main__form__upload-box__image3__view__btn
                        %a.item-contents__main__form__upload-box__image3__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image3__view__btn__right 削除
                  .item-contents__main__form__upload-box__image4__view
                    .item-contents__main__form__upload-box__image4__view__file
                      %img.item-contents__main__form__upload-box__image4__view__file__preview{src: Image.where(item_id: @item.id)[2].url.url}
                      .item-contents__main__form__upload-box__image4__view__btn
                        %a.item-contents__main__form__upload-box__image4__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image4__view__btn__right 削除
                  .item-contents__main__form__upload-box__image5__view
                    .item-contents__main__form__upload-box__image5__view__file
                      %img.item-contents__main__form__upload-box__image5__view__file__preview{src: Image.where(item_id: @item.id)[3].url.url}
                      .item-contents__main__form__upload-box__image5__view__btn
                        %a.item-contents__main__form__upload-box__image5__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image5__view__btn__right 削除
                  .item-contents__main__form__upload-box__image6__view
                    .item-contents__main__form__upload-box__image6__view__file
                      %img.item-contents__main__form__upload-box__image6__view__file__preview{src: Image.where(item_id: @item.id)[4].url.url}
                      .item-contents__main__form__upload-box__image6__view__btn
                        %a.item-contents__main__form__upload-box__image6__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image6__view__btn__right 削除
                  .item-contents__main__form__upload-box__image7__view
                    .item-contents__main__form__upload-box__image7__view__file
                      %img.item-contents__main__form__upload-box__image7__view__file__preview{src: Image.where(item_id: @item.id)[5].url.url}
                      .item-contents__main__form__upload-box__image7__view__btn
                        %a.item-contents__main__form__upload-box__image7__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image7__view__btn__right 削除
                  .item-contents__main__form__upload-box__image8__view
                    .item-contents__main__form__upload-box__image8__view__file
                      %img.item-contents__main__form__upload-box__image8__view__file__preview{src: Image.where(item_id: @item.id)[6].url.url}
                      .item-contents__main__form__upload-box__image8__view__btn
                        %a.item-contents__main__form__upload-box__image8__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image8__view__btn__right 削除
                  .item-contents__main__form__upload-box__image9__view
                    .item-contents__main__form__upload-box__image9__view__file
                      %img.item-contents__main__form__upload-box__image9__view__file__preview{src: Image.where(item_id: @item.id)[7].url.url}
                      .item-contents__main__form__upload-box__image9__view__btn
                        %a.item-contents__main__form__upload-box__image9__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image9__view__btn__right 削除
                  .item-contents__main__form__upload-box__image10__view
                    .item-contents__main__form__upload-box__image10__view__file
                      %img.item-contents__main__form__upload-box__image10__view__file__preview{src: Image.where(item_id: @item.id)[8].url.url}
                      .item-contents__main__form__upload-box__image10__view__btn
                        %a.item-contents__main__form__upload-box__image10__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image10__view__btn__right 削除
                  .item-contents__main__form__upload-box__image11__view
                    .item-contents__main__form__upload-box__image11__view__file
                      %img.item-contents__main__form__upload-box__image11__view__file__preview{src: Image.where(item_id: @item.id)[9].url.url}
                      .item-contents__main__form__upload-box__image11__view__btn
                        %a.item-contents__main__form__upload-box__image11__view__btn__left 編集
                        %a.item-contents__main__form__upload-box__image11__view__btn__right 削除
                %label
                  .item-contents__main__form__upload-box__image11__box
                    .input-area11
                    .item-contents__main__form__upload-box__image11__box__text
                      
                    #file-preview11               
                    =i.file_field :url, class: 'item-contents__main__form__upload-box__image11__drop-file', type: "file", id: 'file11'
        .item-contents__main__form__product
          .item-contents__main__form__product__form-group1
            .item-contents__main__form__product__form-group1__label
              商品名
              %span.item-contents__main__form__product__form-group1__label__action
                必須
            =f.text_field :name, class: 'item-contents__main__form__product__form-group1__form', placeholder: "商品名 (必須 40文字まで)"
            - if @item.errors.any? && @item.name.blank?
              %p 入力してください
          .item-contents__main__form__product__form-group2
            .item-contents__main__form__product__form-group2__label
              商品の説明
              %span.item-contents__main__form__product__form-group2__label__action
                必須
            =f.text_area :description, class: 'item-contents__main__form__product__form-group2__form', placeholder: "商品の説明(必須　1000文字以内)(色、素材、重さ、定価、注意点など)例)2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
            - if @item.errors.any? && @item.description.blank?
              %p 入力してください
        .item-contents__main__form__detail.clearfix
          .item-contents__main__form__detail__head
            商品の詳細
          .item-contents__main__form__detail__form-box
            .item-contents__main__form__detail__form-box__form-group3
              .item-contents__main__form__detail__form-box__form-group3__label
                カテゴリー
                %span.item-contents__main__form__detail__form-box__form-group3__label__action
                  必須
              .item-contents__main__form__detail__form-box__form-group3__select-wrap1
                = f.collection_select :category_id, Category.where(id: 1..13), :id, :name,{include_blank: "---",selected:@category.parent.parent.id }, class: 'item-contents__main__form__detail__form-box__form-group3__select-wrap1__select-box', id: "parent-form"
              .item-contents__main__form__detail__form-box__form-group3__select-wrap2
                = f.collection_select :category_id, Category.where(id: 1..13)[@category.parent.parent.id - 1].children,:id, :name, {include_blank: "---",selected:@category.parent.id }, id:'child-form', class:"item-contents__main__form__detail__form-box__form-group3__select-wrap2__select-box", required:"required"
              .item-contents__main__form__detail__form-box__form-group3__select-wrap3  
                = f.collection_select :category_id,Category.where(id: 1..13)[@category.parent.parent.id - 1].children[@category.parent.parent.children.ids.index(@category.parent.id)].children,:id, :name, {include_blank: "---",selected:@category.id }, id:'grandchild-form', class:"item-contents__main__form__detail__form-box__form-group3__select-wrap3__select-box", required:"required"
            .item-contents__main__form__detail__form-box__form-group5
              .item-contents__main__form__detail__form-box__form-group5__label
                ブランド
                %span.item-contents__main__form__detail__form-box__form-group5__label__action
                  任意
              .item-contents__main__form__detail__form-box__form-group5__select-wrap
                =f.text_field :brand_id,  class: 'item-contents__main__form__detail__form-box__form-group5__select-wrap__select-box', value: @brand.name
                %input{name: "item[brand_id]", value: @item.brand_id, type: "hidden"}
                #brand-group-item
              #brand-search-result
            .item-contents__main__form__detail__form-box__form-group3
              .item-contents__main__form__detail__form-box__form-group3__label
                発送の状態
                %span.item-contents__main__form__detail__form-box__form-group3__label__action
                  必須
              .item-contents__main__form__detail__form-box__form-group3__select-wrap
                = f.select :shipping_status_id, ShippingStatus.all.collect {|s| [s.name_i18n, s.id]}, {prompt: "---"}, {class: 'item-contents__main__form__detail__form-box__form-group3__select-wrap__select-box'}
                - if @item.errors.any? && @item.shipping_status_id.blank?
                  %p 選択してください
        .item-contents__main__form__detail.clearfix
          .item-contents__main__form__detail__head
            配送について
          .item-contents__main__form__detail__form-box
            .item-contents__main__form__detail__form-box__form-group1
              .item-contents__main__form__detail__form-box__form-group1__label
                配送量の負担
                %span.item-contents__main__form__detail__form-box__form-group1__label__action
                  必須
              .item-contents__main__form__detail__form-box__form-group1__select-wrap
                = f.select :shipping_burden_id, ShippingBurden.all.collect {|s| [s.name_i18n, s.id]}, {prompt: "---"}, {class: 'item-contents__main__form__detail__form-box__form-group1__select-wrap__select-box'}
                - if @item.errors.any? && @item.shipping_burden_id.blank?
                  %p 選択してください
                .aaa    
            .item-contents__main__form__detail__form-box__form-group2
              .item-contents__main__form__detail__form-box__form-group2__label
                配送の方法
                %span.item-contents__main__form__detail__form-box__form-group2__label__action
                  必須
              .item-contents__main__form__detail__form-box__form-group2__select-wrap
                = f.select :shipping_method_id, ShippingMethod.all.collect {|s| [s.name_i18n, s.id]}, {prompt: "---"}, {class: 'item-contents__main__form__detail__form-box__form-group2__select-wrap__select-box'}
            .item-contents__main__form__detail__form-box__form-group6
              .item-contents__main__form__detail__form-box__form-group6__label
                配送の方法
                %span.item-contents__main__form__detail__form-box__form-group6__label__action
                  必須
              .item-contents__main__form__detail__form-box__form-group6__select-wrap
                = f.select :shipping_method_id, ShippingMethod.where(id: 1..4).collect {|s| [s.name_i18n, s.id]}, {prompt: "---"}, {class: 'item-contents__main__form__detail__form-box__form-group6__select-wrap__select-box'}
            .item-contents__main__form__detail__form-box__form-group3
              .item-contents__main__form__detail__form-box__form-group3__label
                発送元の地域
                %span.item-contents__main__form__detail__form-box__form-group3__label__action
                  必須
              .item-contents__main__form__detail__form-box__form-group3__select-wrap
                = f.select :shipping_region_id, ShippingRegion.all.collect {|s| [s.name_i18n, s.id]}, {prompt: "---"}, {class: 'item-contents__main__form__detail__form-box__form-group3__select-wrap__select-box'}
                - if @item.errors.any? && @item.shipping_region_id.blank?
                  %p 選択してください
            .item-contents__main__form__detail__form-box__form-group4
              .item-contents__main__form__detail__form-box__form-group4__label
                発送までの日数
                %span.item-contents__main__form__detail__form-box__form-group4__label__action
                  必須
              .item-contents__main__form__detail__form-box__form-group4__select-wrap
                = f.select :shipping_day_id, ShippingDay.all.collect {|s| [s.name_i18n, s.id]}, {prompt: "---"}, {class: 'item-contents__main__form__detail__form-box__form-group4__select-wrap__select-box'}
                - if @item.errors.any? && @item.shipping_day_id.blank?
                  %p 選択してください
        .item-contents__main__form__price.clearfix
          .item-contents__main__form__price__head
            販売価格(300~9,999,999)
          .item-contents__main__form__price__form-box
            %ul.item-contents__main__form__price__form-box__sell-price
              %li.item-contents__main__form__price__form-box__sell-price__form-group
                .item-contents__main__form__price__form-box__sell-price__form-group__clear.clearfix
                  .item-contents__main__form__price__form-box__sell-price__form-group__clear__label
                    価格
                    %span.item-contents__main__form__price__form-box__sell-price__form-group__clear__label__action
                      必須
                      %span
                  .item-contents__main__form__price__form-box__sell-price__form-group__clear__input.clearfix
                    .item-contents__main__form__price__form-box__sell-price__form-group__clear__input__text
                      ¥
                    =f.text_field :price, class:'item-contents__main__form__price__form-box__sell-price__form-group__clear__input__box', placeholder: "例) 300"
                    - if @item.errors.any? && @item.price.blank?
                      %p 入力してください
                  %li.item-contents__main__form__price__form-box__sell-price__form-group2.clearfix
                    .item-contents__main__form__price__form-box__sell-price__form-group2__left
                      販売手数料(10%)
                    .item-contents__main__form__price__form-box__sell-price__form-group2__right
                      \-
                  %li.item-contents__main__form__price__form-box__sell-price__form-group3.clearfix
                    .item-contents__main__form__price__form-box__sell-price__form-group3__left
                      販売利益
                    .item-contents__main__form__price__form-box__sell-price__form-group3__right
                      \-
          .item-contents__main__form__btn-box
            %p.item-contents__main__form__btn-box__text
              = link_to "#", class: 'item-contents__main__form__btn-box__text__link' do
                禁止されている出品
              、
              = link_to "#", class: 'item-contents__main__form__btn-box__text__link' do
                行為
              を必ずご覧ください。
            %p.item-contents__main__form__btn-box__text
              またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to "#", class: 'item-contents__main__form__btn-box__text__link' do
                偽ブランドの販売
              は犯罪であり処罰される可能性があります。
            %p.item-contents__main__form__btn-box__text
              また、出品をもちまして
              = link_to "#", class: 'item-contents__main__form__btn-box__text__link' do
                加盟店規約
              に同意したことになります。
            = f.submit '変更する', class: 'item-contents__main__form__btn-box__red-btn'
            .item-contents__main__form__btn-box__gray-btn
              =link_to root_path, class: 'item-contents__main__form__btn-box__gray-btn__link' do
                キャンセル
  = render 'items/footer_item'