.container
  = render "main-header"
  .thumbnail
    .thumbnail__outer
      .thumbnail__outer__show{style: "left: 0px; width: 100%;"}
        .thumbnail__outer__show__item{style: "width: 100%;"}
          = link_to "", class: "thumbnail__outer__show__item__image" do
            #wrap
              %ul#slider
                %li.slide-item
                  %span.slide-inner
                    %img{:alt => "画像", :src => "https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg"}/
                %li.slide-item
                  %span
                    = image_tag "home.png", size: "1440x390"
  .contents
    %h2.items-head ピックアップカテゴリー
    .items-contents
      -# = render partial: '/items/items_category/ladies', collection: @items_ladies
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          レディース新着アイテム
      .items-contents__boxes.clearfix
        - @items_ladies.each do |item|
          .items-contents__boxes__box
            =link_to item_path(item.id), class: "items-contents__boxes__box__link" do
              .items-contents__boxes__box__photo
              = image_tag(item.images.first.url.url, size: "213x220")
              .items-contents__boxes__box__text
                %h3.items-contents__boxes__box__text__sentence 
                  = item.name
                .items-contents__boxes__box__text__num
                  .items-contents__boxes__box__text__num__price
                    = number_to_currency item.price
                  .items-contents__boxes__box__text__num__like 
                    %i.far.fa-heart
                .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "すべての商品をみる", class: "items-contents__all__link"
        
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          メンズ新着アイテム
      .items-contents__boxes.clearfix
        - @items_mens.each do |item|
          .items-contents__boxes__box
            =link_to item_path(item.id), class: "items-contents__boxes__box__link" do
              .items-contents__boxes__box__photo
              = image_tag(item.images.first.url.url, size: "213x220")
              .items-contents__boxes__box__text
                %h3.items-contents__boxes__box__text__sentence 
                  = item.name
                .items-contents__boxes__box__text__num
                  .items-contents__boxes__box__text__num__price
                    = number_to_currency item.price
                  .items-contents__boxes__box__text__num__like 
                    %i.far.fa-heart
                .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "すべての商品をみる", class: "items-contents__all__link"
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          ベビー・キッズ新着アイテム
      .items-contents__boxes.clearfix
        - @items_kids.each do |item|
          .items-contents__boxes__box
            =link_to item_path(item.id), class: "items-contents__boxes__box__link" do
              .items-contents__boxes__box__photo
              = image_tag(item.images.first.url.url, size: "213x220")
              .items-contents__boxes__box__text
                %h3.items-contents__boxes__box__text__sentence 
                  = item.name
                .items-contents__boxes__box__text__num
                  .items-contents__boxes__box__text__num__price
                    = number_to_currency item.price
                  .items-contents__boxes__box__text__num__like 
                    %i.far.fa-heart
                .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "すべての商品をみる", class: "items-contents__all__link"
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          コスメ・香水・美容 新着アイテム
      .items-contents__boxes.clearfix
        - @items_cosmetics.each do |item|
          .items-contents__boxes__box
            =link_to item_path(item.id), class: "items-contents__boxes__box__link" do
              .items-contents__boxes__box__photo
              = image_tag(item.images.first.url.url, size: "213x220")
              .items-contents__boxes__box__text
                %h3.items-contents__boxes__box__text__sentence 
                  = item.name
                .items-contents__boxes__box__text__num
                  .items-contents__boxes__box__text__num__price
                    = number_to_currency item.price
                  .items-contents__boxes__box__text__num__like 
                    %i.far.fa-heart
                .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "すべての商品をみる", class: "items-contents__all__link"
  .contents
    %h2.items-head ピックアップブランド
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          シャネル 新着アイテム
      .items-contents__boxes.clearfix
        - @items_chanel.each do |item|
          .items-contents__boxes__box
            =link_to item_path(item.id), class: "items-contents__boxes__box__link" do
              .items-contents__boxes__box__photo
              = image_tag(item.images.first.url.url, size: "213x220")
              .items-contents__boxes__box__text
                %h3.items-contents__boxes__box__text__sentence 
                  = item.name
                .items-contents__boxes__box__text__num
                  .items-contents__boxes__box__text__num__price
                    = number_to_currency item.price
                  .items-contents__boxes__box__text__num__like 
                    %i.far.fa-heart
                .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "すべての商品をみる", class: "items-contents__all__link"
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          ルイ ヴィトン新着アイテム
      .items-contents__boxes.clearfix
        - @items_louisvuitton.each do |item|
          .items-contents__boxes__box
            =link_to item_path(item.id), class: "items-contents__boxes__box__link" do
              .items-contents__boxes__box__photo
              = image_tag(item.images.first.url.url, size: "213x220")
              .items-contents__boxes__box__text
                %h3.items-contents__boxes__box__text__sentence 
                  = item.name
                .items-contents__boxes__box__text__num
                  .items-contents__boxes__box__text__num__price
                    = number_to_currency item.price
                  .items-contents__boxes__box__text__num__like 
                    %i.far.fa-heart
                .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "すべての商品をみる", class: "items-contents__all__link"
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          シュプリーム新着アイテム
      .items-contents__boxes.clearfix
        - @items_supreme.each do |item|
          .items-contents__boxes__box
            =link_to item_path(item.id), class: "items-contents__boxes__box__link" do
              .items-contents__boxes__box__photo
              = image_tag(item.images.first.url.url, size: "213x220")
              .items-contents__boxes__box__text
                %h3.items-contents__boxes__box__text__sentence 
                  = item.name
                .items-contents__boxes__box__text__num
                  .items-contents__boxes__box__text__num__price
                    = number_to_currency item.price
                  .items-contents__boxes__box__text__num__like 
                    %i.far.fa-heart
                .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "すべての商品をみる", class: "items-contents__all__link"
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          ナイキ 新着アイテム
      .items-contents__boxes.clearfix
        - @items_nike.each do |item|
          .items-contents__boxes__box
            =link_to item_path(item.id), class: "items-contents__boxes__box__link" do
              .items-contents__boxes__box__photo
              = image_tag(item.images.first.url.url, size: "213x220")
              .items-contents__boxes__box__text
                %h3.items-contents__boxes__box__text__sentence 
                  = item.name
                .items-contents__boxes__box__text__num
                  .items-contents__boxes__box__text__num__price
                    = number_to_currency item.price
                  .items-contents__boxes__box__text__num__like 
                    %i.far.fa-heart
                .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "すべての商品をみる", class: "items-contents__all__link"

  .bottom-banner
    .bottom-banner__photo
      .bottom-banner__photo__logo
        %h2.bottom-banner__photo__logo__title スマホでかんたんフリマアプリ
        %p.bottom-banner__photo__logo__text 今すぐ無料ダウンロード！
        .bottom-banner__photo__logo__icon
          %img{ src: "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2334484240", width: "68", class: "bottom-banner__photo__logo__icon__pic"}
          %ul.bottom-banner__photo__logo__icon__smart.clearfix
            %li.bottom-banner__photo__logo__icon__smart__mark
              = link_to "", class: "bottom-banner__photo__logo__text__icon__smart__mark__app" do
                = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2334484240", height: "36", width: "134") 
            %li.bottom-banner__photo__logo__icon__smart__mark
              = link_to "", class: "bottom-banner__photo__logo__text__icon__smart__mark__goo" do
                = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2334484240", height: "36", width: "134") 
      = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2414431219", height: "36", width: "134", class: "bottom-banner__photo__example")
  = render "main-footer"