.container
  = render "main-header"
  .thumbnail
    .thumbnail__outer
      .thumbnail__outer__show{style: "left: 0px; width: 100%;"}
        .thumbnail__outer__show__item{style: "width: 100%;"}
          = link_to "", class: "thumbnail__outer__show__item__image" do
            = image_tag("https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg", class: "thumbnail__outer__show__item__image__p") 
  .contents
    %h2.items-head ピックアップカテゴリー
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          レディース新着アイテム
      .items-contents__boxes.clearfix
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m71731197792_1.jpg?1553731165",height: "250", width: "250", class: "items-contents__boxes__box__photo__image" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence アメリカンアパレル ショートパンツ ターコイズ 28/29
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥800
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m33579173488_1.jpg?1561354655", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence 個性的 ゴールドピアス
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥1,000
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m20890562627_1.jpg?1560998685", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence アンティーク ロザリオ シルバー製一点物 デッドストック
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥3,650
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m16418831732_1.jpg?1561358344", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence PRADA巾着ポーチ
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥2,500
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "", class: "items-contents__all__link" do
          すべての商品を見る
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          メンズ新着アイテム
      .items-contents__boxes.clearfix
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m53907850233_1.jpg?1561362429",height: "250", width: "250", class: "items-contents__boxes__box__photo__image" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence ライター2本セット
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥500
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m67514043292_1.jpg?1561362429", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence ジッポ
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥4,000
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m89474258674_1.jpg?1561292857", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence サングラス
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥5,000
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m88529063210_1.jpg?1553688073", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence カルティエ マストライン レザー がま口 長財布 ボルドー
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥2,600
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "", class: "items-contents__all__link" do
          すべての商品を見る
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          ベビー・キッズ新着アイテム
      .items-contents__boxes.clearfix
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m18389054034_1.jpg?1560585704",height: "250", width: "250", class: "items-contents__boxes__box__photo__image" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence 地球儀
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥1,500
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m43988486283_1.jpg?1561362398", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence ダブルビー DOUBLE.B
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥600
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m33409927806_1.jpg?1548074966", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence 70 80 新品 紺 POLO ポロ タイツ 模様あり a-261 20
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥444
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m16763541993_1.jpg?1561362398", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence セラフ スカート インナーパンツ付き 110cm
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥300
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "", class: "items-contents__all__link" do
          すべての商品を見る
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          コスメ・香水・美容 新着アイテム
      .items-contents__boxes.clearfix
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "250", class: "items-contents__boxes__box__photo__image" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence YSL グロス 39
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥1,555
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m51813457071_1.jpg?1561362398", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence よーじや あぶらとり紙
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥300
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m70502557113_1.jpg?1561362398", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence すごくおいしいフルーツ青汁 ゴクリッチ29個
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥1,250
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m85141085154_1.jpg?1561362397", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence ビタブリッドC フェイス ブライトニング 3g
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥3,600
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "", class: "items-contents__all__link" do
          すべての商品を見る
  .contents
    %h2.items-head ピックアップブランド
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          シャネル 新着アイテム
      .items-contents__boxes.clearfix
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m88463847150_1.jpg?1561340165",height: "250", width: "250", class: "items-contents__boxes__box__photo__image" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence Saeサエ様専用になりました‼️シャネル チャンス オーフレッシュ ヘアミスト
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥3,500
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m14424240037_1.jpg?1560861136", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence ショルダーバッグ お値下げ最終off
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥223,000
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m48126947740_1.jpg?1561297578", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence CHANEL ルージュ アリュール グロス クリック No.17
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥1,800
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m78567424606_1.jpg?1552772598", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence CHANEL ☆サンダル☆
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥25,000
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "", class: "items-contents__all__link" do
          すべての商品を見る
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          ルイ ヴィトン新着アイテム
      .items-contents__boxes.clearfix
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m78120284747_1.jpg?1559195440",height: "250", width: "250", class: "items-contents__boxes__box__photo__image" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence ❤️美品 ルイヴィトン モノグラム サラ 長財布 正規品 鑑定済み❤️
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥25,300
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m25838435723_1.jpg?1561362392", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence ルイヴィトン モノグラム ショルダーバッグ
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥25,000
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m53134030150_1.jpg?1561362367", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence 正規品✳︎ルイヴィトンモノグラム✳︎3つ折長財布✳︎ルイヴィトン長財布✳︎
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥8,999
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m47449033322_1.jpg?1561362350", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence ルイヴィトン アズールアクセサリーポーチ
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥14,800
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "", class: "items-contents__all__link" do
          すべての商品を見る
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          シュプリーム新着アイテム
      .items-contents__boxes.clearfix
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m92757847072_1.jpg?1561362394",height: "250", width: "250", class: "items-contents__boxes__box__photo__image" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence 新品！PUBLISH ボンタン ワイド テーパードパンツ！シェフパンツ
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥5,000
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m85776999635_1.jpg?1551666082", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence carhartt  ナイロンジャケット
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥3,700
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m24264121543_1.jpg?1561362375", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence XXL 2016 Tシャツ
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥5,555
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m27927515591_1.jpg?1556342654", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence FAIR PLAY ナイロン
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥6,666
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "", class: "items-contents__all__link" do
          すべての商品を見る
    .items-contents
      %h3.items-contents__title.clearfix 
        =link_to "", class: "items-contents__title__name" do
          ナイキ 新着アイテム
      .items-contents__boxes.clearfix
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m66503664521_1.jpg?1560841021",height: "250", width: "250", class: "items-contents__boxes__box__photo__image" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence エア フライトワン ペニー ハーダウェイ 29センチ flight one 29
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥3,333
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m65292476809_1.jpg?1560614044", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence NIKE AIR Jordan 1 retro crimson tint
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥20,200
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m14868453514_1.jpg?1561357700", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence ナイキ レディース サイズL セットアップ
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥3,800
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
        .items-contents__boxes__box
          =link_to "", class: "items-contents__boxes__box__link" do
            .items-contents__boxes__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m23965925885_1.jpg?1560841152", height: "250", width: "250" }
            .items-contents__boxes__box__text
              %h3.items-contents__boxes__box__text__sentence エア ジョーダン8 29.5センチ 黒 Jordan8 29.5cm black
              .items-contents__boxes__box__text__num
                .items-contents__boxes__box__text__num__price ￥6,600
                .items-contents__boxes__box__text__num__like 
                  %i.far.fa-heart
              .items-contents__boxes__box__text__tax (税込)
      .items-contents__all 
        =link_to "", class: "items-contents__all__link" do
          すべての商品を見る
  .bottom-banner
    .bottom-banner__photo
      .bottom-banner__photo__logo
        %h2.bottom-banner__photo__logo__title スマホでかんたんフリマアプリ
        %p.bottom-banner__photo__logo__text 今すぐ無料ダウンロード！
        .bottom-banner__photo__logo__icon
          %img{ src: "//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?2334484240", width: "68", class: "bottom-banner__photo__logo__icon__pic"}
          %ul.bottom-banner__photo__logo__icon__smart.clearfix
            %li.bottom-banner__photo__logo__icon__smart__mark
              = link_to "", class: "bottom-banner__photo__logo__text__icon__smart__mark__app" do
                = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?2334484240", height: "36", width: "134") 
            %li.bottom-banner__photo__logo__icon__smart__mark
              = link_to "", class: "bottom-banner__photo__logo__text__icon__smart__mark__goo" do
                = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?2334484240", height: "36", width: "134") 
      = image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?2414431219", height: "36", width: "134", class: "bottom-banner__photo__example")
  = render "main-footer"