= render "main-header"
- breadcrumb :search
.breadcrumb
  = breadcrumbs pretext: "", separator: " &rsaquo; ",class: "breadcrumb__text"
.search
  .search-container.clearfix
    .search-container__main
      .search-container__main__item-box.clearfix
        .search-container__main__item-box__head
          %span.search-container__main__item-box__head__text
            検索結果
        .search-container__main__item-box__result
          1 -
          = @items.count
          件表示
        .search-container__main__item-box__content.clearfix
          - @items.each do |item|
            .search-container__main__item-box__content__items
              =link_to item_path(item.id), class:"search-link"do
                .search-container__main__item-box__content__items__photo
                  = image_tag (item.images.first.url.url), class: "search-container__main__item-box__content__items__photo__img"
                .search-container__main__item-box__content__items__body
                  .search-container__main__item-box__content__items__body__name
                    = item.name
                  .search-container__main__item-box__content__items__body__num
                    .search-container__main__item-box__content__items__body__num__price
                      = number_to_currency item.price
    .search-container__side
= render "main-footer"