.show-item
  = render "main-header"
  .show
    .show__name
      = @item.name 
    .show__contents.clearfix
      .show__contents__item-mainImage
        - @item.images.each do |image|
          = image_tag (@item.images[0][:url]), size: "250x250"
      %table.show__contents__detail-table
        %tbody
          %tr
            %th
              出品者
            %td
              = link_to "#", class: 'show__contents__detail-table__name' do
                -# =@user.nickname
              .show__contents__detail-table__face
                .show__contents__detail-table__face__user-ratings1
                  %i.fas.fa-laugh
                  %span
                    228
                .show__contents__detail-table__face__user-ratings2
                  
                  %i.fas.fa-meh
                  %span
                    6
                .show__contents__detail-table__face__user-ratings3
                  %i.fas.fa-frown
                  %span
                    4
          %tr
            %th
              カテゴリー
            %td
              = link_to "#", class: 'show__contents__detail-table__category1' do
                = @category.parent.parent.name
              = link_to "#", class: 'show__contents__detail-table__category2' do
                %i.fa.fa-chevron-right
                = @category.parent.name
              = link_to "#", class: 'show__contents__detail-table__category3' do
                %i.fa.fa-chevron-right
                = @category.name
          %tr 
            %th 
              ブランド
            %td
              = link_to "#", class: 'show__contents__detail-table__brand' do
                コーチ
          %tr
            %th
              商品の状態
            %td
              = @item.shipping_status.name_i18n
          %tr
            %th
              配送料の負担
            %td
              = @item.shipping_burden.name_i18n
          %tr
            %th
              配送元地域
            %td
              = @item.shipping_region.name_i18n
          %tr
            %th
              配送日の目安
            %td
              = @item.shipping_day.name_i18n
    .show__text-center
      .show__text-center__price
        ￥ 
        = @item.price
      .show__text-center__tax
        (税込)
      .show__text-center__fee
        送料込み
    = link_to "購入画面に進む", "#", class: 'show__item-buy-btn'  
    .show__item-description
      %p.show__item-description__text
        = @item.description
    .show__item-button-container.clearfix
      .show__item-button-container__left
        %button.show__item-button-container__left__like{type: "button", name: "like!"}
          %i.far.fa-heart
          %span
            いいね！
          %span.show__item-button-container__left__like__count
            0
        =link_to "", class: 'show__item-button-container__left__report' do
          %i.far.fa-flag
          %span
            不適切な商品の登録
      .show__item-button-container__right
        = link_to "", class:'show__item-button-container__right__news' do
          %i.fa.fa-lock
          %span
            =link_to "あんしん・あんぜんへの取り組み","https://www.mercari.com/jp/safe/description/"
  .detail-message
    .detail-message__container
      .detail-message__container__content
        = form_for (root_path) do |f|
          %p.detail-message__container__content__text
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.text_area :text, class: 'detail-message__container__content__textarea', type: 'text'
          = f.submit 'コメントする', class: 'detail-message__container__content__submit'
  %ul.navi-item.clearfix
    %li.navi-item__link-prev
    -if @previtem.present?
      = link_to item_path(@previtem), class: 'navi-item__link-prev__text' do
        %i.fa.fa-chevron-left
        = @previtem.name  
    %li.navi-item__link-next
    -if @nextitem.present? 
      = link_to item_path(@nextitem), class: 'navi-item__link-next__text' do
        = @nextitem.name
        %i.fa.fa-chevron-right
  .item-social
    .item-social__media-box
      = link_to "#", class: 'item-social__media-box__facebook' do
        %i.fab.fa-facebook-square
      = link_to "#", class: 'item-social__media-box__twitter' do
        %i.fab.fa-twitter
      = link_to "#", class: 'item-social__media-box__pinterest' do
        %i.fab.fa-pinterest
  .item-user-profile
    .item-user-profile__container.clearfix
      .item-user-profile__container__head
        = link_to "#", class: "item-user-profile__container__head__link" do
          -# = "#{}さんのその他の商品"
      .item-user-profile__container__contents.clearfix
        .item-user-profile__container__contents__box
          =link_to "", class: "item-user-profile__container__contents__box__link" do
            .item-user-profile__container__contents__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
            .item-user-profile__container__contents__box__text
              %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
              .item-user-profile__container__contents__box__text__num
                .item-user-profile__container__contents__box__text__num__price ￥1,555
                .item-user-profile__container__contents__box__text__num__like 
                  %i.far.fa-heart
              .item-user-profile__container__contents__box__text__tax (税込)
        .item-user-profile__container__contents__box
          =link_to "", class: "item-user-profile__container__contents__box__link" do
            .item-user-profile__container__contents__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
            .item-user-profile__container__contents__box__text
              %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
              .item-user-profile__container__contents__box__text__num
                .item-user-profile__container__contents__box__text__num__price ￥1,555
                .item-user-profile__container__contents__box__text__num__like 
                  %i.far.fa-heart
              .item-user-profile__container__contents__box__text__tax (税込)
        .item-user-profile__container__contents__box
          =link_to "", class: "item-user-profile__container__contents__box__link" do
            .item-user-profile__container__contents__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
            .item-user-profile__container__contents__box__text
              %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
              .item-user-profile__container__contents__box__text__num
                .item-user-profile__container__contents__box__text__num__price ￥1,555
                .item-user-profile__container__contents__box__text__num__like 
                  %i.far.fa-heart
              .item-user-profile__container__contents__box__text__tax (税込)
        .item-user-profile__container__contents__box
          =link_to "", class: "item-user-profile__container__contents__box__link" do
            .item-user-profile__container__contents__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
            .item-user-profile__container__contents__box__text
              %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
              .item-user-profile__container__contents__box__text__num
                .item-user-profile__container__contents__box__text__num__price ￥1,555
                .item-user-profile__container__contents__box__text__num__like 
                  %i.far.fa-heart
              .item-user-profile__container__contents__box__text__tax (税込)
        .item-user-profile__container__contents__box
          =link_to "", class: "item-user-profile__container__contents__box__link" do
            .item-user-profile__container__contents__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
            .item-user-profile__container__contents__box__text
              %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
              .item-user-profile__container__contents__box__text__num
                .item-user-profile__container__contents__box__text__num__price ￥1,555
                .item-user-profile__container__contents__box__text__num__like 
                  %i.far.fa-heart
              .item-user-profile__container__contents__box__text__tax (税込)
        .item-user-profile__container__contents__box
          =link_to "", class: "item-user-profile__container__contents__box__link" do
            .item-user-profile__container__contents__box__photo
              %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
            .item-user-profile__container__contents__box__text
              %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
              .item-user-profile__container__contents__box__text__num
                .item-user-profile__container__contents__box__text__num__price ￥1,555
                .item-user-profile__container__contents__box__text__num__like 
                  %i.far.fa-heart
              .item-user-profile__container__contents__box__text__tax (税込)
  .item-user-profile
    .item-user-profile__container.clearfix
      .item-user-profile__container__head
        = link_to "#", class: "item-user-profile__container__head__link" do
          = "#{@category.name}のその他の商品"
      .item-user-profile__container__contents.clearfix
      - @childitem.each do |childitem|
        .item-user-profile__container__contents__box
          =link_to "", class: "item-user-profile__container__contents__box__link" do
            .item-user-profile__container__contents__box__photo
            -# = image_tag (childitem.images[0][:url]), size: "213x220"
            .item-user-profile__container__contents__box__text
              %h3.item-user-profile__container__contents__box__text__sentence 
                = childitem.name
              .item-user-profile__container__contents__box__text__num
                .item-user-profile__container__contents__box__text__num__price ￥1,555
                .item-user-profile__container__contents__box__text__num__like 
                  %i.far.fa-heart
              .item-user-profile__container__contents__box__text__tax (税込)
        -# .item-user-profile__container__contents__box
        -#   =link_to "", class: "item-user-profile__container__contents__box__link" do
        -#     .item-user-profile__container__contents__box__photo
        -#       %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
        -#     .item-user-profile__container__contents__box__text
        -#       %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
        -#       .item-user-profile__container__contents__box__text__num
        -#         .item-user-profile__container__contents__box__text__num__price ￥1,555
        -#         .item-user-profile__container__contents__box__text__num__like 
        -#           %i.far.fa-heart
        -#       .item-user-profile__container__contents__box__text__tax (税込)
        -# .item-user-profile__container__contents__box
        -#   =link_to "", class: "item-user-profile__container__contents__box__link" do
        -#     .item-user-profile__container__contents__box__photo
        -#       %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
        -#     .item-user-profile__container__contents__box__text
        -#       %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
        -#       .item-user-profile__container__contents__box__text__num
        -#         .item-user-profile__container__contents__box__text__num__price ￥1,555
        -#         .item-user-profile__container__contents__box__text__num__like 
        -#           %i.far.fa-heart
        -#       .item-user-profile__container__contents__box__text__tax (税込)
        -# .item-user-profile__container__contents__box
        -#   =link_to "", class: "item-user-profile__container__contents__box__link" do
        -#     .item-user-profile__container__contents__box__photo
        -#       %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
        -#     .item-user-profile__container__contents__box__text
        -#       %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
        -#       .item-user-profile__container__contents__box__text__num
        -#         .item-user-profile__container__contents__box__text__num__price ￥1,555
        -#         .item-user-profile__container__contents__box__text__num__like 
        -#           %i.far.fa-heart
        -#       .item-user-profile__container__contents__box__text__tax (税込)
        -# .item-user-profile__container__contents__box
        -#   =link_to "", class: "item-user-profile__container__contents__box__link" do
        -#     .item-user-profile__container__contents__box__photo
        -#       %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
        -#     .item-user-profile__container__contents__box__text
        -#       %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
        -#       .item-user-profile__container__contents__box__text__num
        -#         .item-user-profile__container__contents__box__text__num__price ￥1,555
        -#         .item-user-profile__container__contents__box__text__num__like 
        -#           %i.far.fa-heart
        -#       .item-user-profile__container__contents__box__text__tax (税込)
        -# .item-user-profile__container__contents__box
        -#   =link_to "", class: "item-user-profile__container__contents__box__link" do
        -#     .item-user-profile__container__contents__box__photo
        -#       %img{ src: "https://static.mercdn.net/thumb/photos/m59685340502_1.jpg?1561362398",height: "250", width: "200", class: "item-user-profile__container__contents__box__photo__image" }
        -#     .item-user-profile__container__contents__box__text
        -#       %h3.item-user-profile__container__contents__box__text__sentence YSL グロス 39
        -#       .item-user-profile__container__contents__box__text__num
        -#         .item-user-profile__container__contents__box__text__num__price ￥1,555
        -#         .item-user-profile__container__contents__box__text__num__like 
        -#           %i.far.fa-heart
        -#       .item-user-profile__container__contents__box__text__tax (税込)
  = render "item_banner"
  = render "main-footer"